* {
    margin: 1;
}

.gridWrapper {
    display: grid;
    width: 100vw;
    height: 100vw;
    grid-template-areas: 
    
    "he he he he he he"
    "a1 a1 a1 a2 as as"
    "a1 a1 a1 a2 as as"
    "a1 a1 a1 a2 se se"
    "a1 a1 a1 a2 se se"
    "a6 a6 a6 a6 a6 a6"
    "fo fo fo fo fo fo"
    "fo fo fo fo fo fo"
    "a3 a4 a5 a2 a3 a4"


    
    
    ;

    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap: 1px;
}

.header {
    grid-area: he;
    background-color: darkcyan;
}

.article1 {
    grid-area: a1 ;
    background-color: lightblue;
}

.article2 {
    grid-area: a2 ;
    background-color:lightcoral ;
}

.article3 {
    grid-area: a3;
    background-color: lightsalmon;
}

.article4 {
    grid-area:a4 ;
    background-color:lightslategray ;
}

.article5 {
    grid-area: a5;
    background-color: lightyellow;
}

.article6 {
    grid-area:a6 ;
    background-color:forestgreen ;
}

.innerGridWrapper {
    grid-area: se;
    display: grid;
    background-color: white;
    grid-template-rows:1fr 1fr ;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
}




.aside {
    grid-area: as;
    background-color: gold;
}

.footer {
    grid-area: fo;
    background-color: hotpink;
}

.innerDiv {
    background-color: indigo;
}